input {
  margin-bottom: 0;
  max-width: 100px;
}
table.input {
  width: 100%;
  margin-bottom: 1rem;
}
table.input td,
table.input th,
table.input tr {
  width: 100%;
}
section.right {
  justify-content: end;
}
table.results th {
  text-align: right;
}
table.results td:last-child {
  text-align: left;
}
h2, p {
  margin: 0;
}
main, header {
  padding-top: 0;
}
header {
  padding-bottom: 0;
}