
.header-img {
    width: 100%;
    margin-left:  300px;
    background: url('https://teachamantofish.github.io/ehelp/');
    background-size: cover;
  }

.wy-body-for-nav, .wy-nav-content-wrap, .wy-nav-content {background-color: #fcfcfc;}

h2 {
  background: rgb(242,240,240);
  background: linear-gradient(168deg, rgba(242,240,240,1) 0%, rgba(250,250,250,1) 99%); 
  padding: 5px 5px 5px 5px;
  margin-left: -5px;
  margin-top: 2em; 
}

  .feedback {
    font-size: 1em;
    padding-top: 0 !important;
    font-family: "verdana, arial, helvetica, san-serif";
    padding-bottom: 7px;
    border:none;
    float: right;
  }
  
   .feedback::after{
    content: "\1F4E7"; /*want ../_images/email.png; here*/
    }



div.twocol { width:800px; background-color:gray}

div.leftcolumn {
  width: 100%;
  float:left;
}

div.rightcolumn {
  float:left;
  padding: 20px 20px 20px 100px;
}

div.clear {clear:both;}

p.credit {font-style: italic;}



