
.header-img {
    width: 100%;

    background: url('https://teachamantofish.github.io/ehelp/');
    background-size: cover;
  }

.wy-body-for-nav, .wy-nav-content-wrap, .wy-nav-content {background-color: #fcfcfc;}

/**
.wy-nav-side {
    position: absolute;
    left:0px;
    top: 0px;
  }

  #anchor {
    scroll-margin-top: 100px;
  }
**/